body {
    margin: 0;
    padding: 0;
    background: #dedede;
}
header {
    background: #333333;
    height: 60px;
    position: relative;
}
header img{
    margin-left:25px;
}
.nav{
    position: absolute;top: 0;right: 0;
}
.nav li{
    float: right;
    width: 110px;
}
.nav li a{
    color:#e6eceb ;
    text-decoration: none;
}
.nav li a:hover{
    color: #6d6d6d;
}